/* common utilities */
body{
    font-family: 'Work Sans', sans-serif;
}
.text-primary{
    color: #727272;
    font-weight: 400;
}
.btn-primary{
    background-color: #ff9026;
    padding: 15px 20px;
    border: 0;
    border-radius: 5px;
}
.btn-primary a{
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    color: #ffffff;
}
.btn-primary:hover{
    background-color: #ff6347;
}

/* header style */
header{
    background-color: #fff4e7;
}

/* navbar start */
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 110px;
    margin: 0 auto;
}
.logo{
    padding-left: 100px;
    font-size: 30px;
    font-weight: 700;
}
.nav{
    padding-right: 100px;
}
.nav ul{
    display: flex;
    justify-content: space-between;
}
.nav ul li{
    list-style: none;
    margin-right: 30px;
}
.nav ul li a{
    text-decoration: none;
    font-weight: 500;
    font-size: 15px;
    color: #424242;
}

/* banner style */
.banner-title h4{
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 45px;
    font-weight: 700;
}
.banner-subtitle{
    text-align: center;
    margin-top: 30px;
}
.banner-subtitle span{
    display: block;
    margin-top: 0;
    margin-bottom: 0;
}
.banner-image{
    width: 70%;
    margin: 50px auto;
    padding-bottom: 50px;
}
.banner-image img{
    width: 100%;
}
.banner-btn{
    margin-top: 35px;
    text-align: center;
}
 /* about us style */
 .about-us{
    margin: 85px auto;
 }
 .about-us-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
 }
 .about-us-image{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    width: 40%;
    padding-left: 100px;
 }
 .about-us-image img{
    width: 100%;
 }
 .about-us-description{
    width: 40%;
 }
 .about-us-subtitle{
    text-align: justify;
 }
 .about-us-title{
    margin-top: 0;
    margin-bottom: 0;
 }
 .color-1{
    color: #8f8484;
    font-weight: 500;
    font-size: 30px;
 }
 .color-2{
    font-family: 700;
    font-size: 30px;
 }
 .color-3{
    font-size: 30px;
    font-weight: 700;
    color: #ff9026;
 }

 /* feature style */
 .feature-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
 }
 .feature-description{
    width: 35%;
 }
 .feature-image{
    width: 35%;
 }
 .feature-image img{
    width: 100%;
 }
 .feature-title{
    border-left: 3px solid #ff9026;
    padding-left: 10px;
 }
 .feature-subtitle{
    width: 100%;
    margin: 20px 0;
 }
 .feature-subtitle p{
    text-align: justify;
 }
 .feature-title h2{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 30px;
    font-weight: 700;
 }
 .item{
    width: 90%;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 5px 5px 5px 5px #424242;
    margin-bottom: 20px;
 }
 .feature-btn{
    position: absolute;
    bottom: 100px;
    left: 48%;
    background-color: #ff9026;
    color: #ffffff;
    padding: 30px;
    border-radius: 8px;
 }
 .feature-1{
    font-weight: 700;
    font-size: 45px;
    display: block;
 }
 .feature-2{
    font-weight: 500;
    font-size: 25PX;
 }

 /* facts style */
 .facts{
    margin: 100px 150px;
 }
 .fact-container{
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    align-items: center;
 }
 .fact{
    border: 1px solid #ff6347;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 160px;
    width: 200px;
    padding-top: 40px;
    transition: transform 2s;
 }
 .fact:hover{
    transform: rotate(-90deg);
    border: 3px solid #ff6347;
 }
 .facts-title{
    font-size: 30px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 0;
 }
 .facts-subtitle{
    margin-bottom: 0;
    font-size: 15px;
    font-weight: 400;
    width: 65%;
 }
 .fact-subtitle{
   font-size: 20px;
   color: #8b8282;
   padding-bottom: 35px;
 }

 /* sponsor style */
 .sponsor-title{
    font-size: 30px;
    font-weight: 700;
    text-align: center;
 }
 .sponsor-subtitle{
    width: 45%;
    text-align: center;
    margin: 15px auto;
 }
 .sponsor-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    justify-items: center;
    margin: 50px;
 }
 .sponsor-image{
    width: 60%;
 }
 .sponsor-image img{
    width: 80%;
 }
 .sponsor-image img:hover{
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
 }

 /* contact style */
 .contact-us{
    background-color: #fff4e7;
 }
 .contact-container{
    padding: 100px 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
 }
 .contact-title{
    font-size: 45px;
    font-weight: 700;
 }
 .contact-description{
    width: 85%;
 }
 .media-icons i{
    color: #ff9026;
    font-size: 25px;
    margin-right: 15px;
 }
 .media-icons i:hover{
    color: #ff6347;
    cursor: pointer;
 }
 .input-info{
    display: block;
    width: 450px;
    height: 65px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 0;
    border-bottom: 25px;
    padding: 0 15px;
 }
.input-message{
    display: block;
    width: 450px;
    height: 180px;
    border-radius: 5px;
    border: 0;
    margin-bottom: 25px;
    padding: 0 15px;
 }

 /* footer style */
 footer{
    margin: 100px auto;
    background-color: #fff4e7;
    width: 75%;
    text-align: center;
    padding: 10px;
 }

 /* media queries */

 /* smaller device */
 @media screen and (max-width: 576px) {
    .nav-container{
        flex-direction: column;
        padding-bottom: 30px;
    }
    .logo{
        padding-left: 0;
        margin-bottom: 30px;
        font-size: 1.5em;
    }
    .nav{
        padding-right: 0;
    }
    .nav ul{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .nav ul li{
        margin-bottom: 15px;
    }
    .banner-title h4{
        font-size: 2em;
    }
    .banner-subtitle span{
        display: inline;
        text-align: justify;
    }
    .about-us-container{
        flex-direction: column;
    }
    .about-us-image{
        width: 80%;
        grid-template-columns: repeat(1, 1fr);
        padding-left: 0;
        margin-bottom: 35px;
    }
    .about-us-description{
        width: 80%;
    }
    .color-1,
    .color-2,
    .color-3{
        font-size: 1.5em;
    }
    .feature-container{
        flex-direction: column;
    }
    .feature-description{
        width: 90%;
    }
    .feature-image{
        width: 90%;
    }
    .feature-btn{
        position: static;
        margin-top: 25px;
    }
    .feature-2{
        display: block;
        text-align: center;
    }
    .facts{
        margin-left: 50px;
        margin-right: 0;
    }
    .facts-subtitle{
        width: 80%;
    }
    .fact-container{
        grid-template-columns: repeat(1, 1fr);
        margin-top: 50px;
    }
    .sponsor-subtitle{
        width: 90%;
    }
    .sponsor-container{
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .contact-container{
        flex-direction: column;
    }
    .input-info{
        width: 85%;
    }
    .input-message{
        width: 85%;
    }
    footer{
        width: 80%;
        margin-bottom: 0;
        margin-top: 50px;
    }
 }

 /* medium device */
   @media screen and (min-width: 577px) and (max-width: 992px) {
   .nav-container {
      flex-direction: column;
      padding-bottom: 50px;
    }
   .logo {
      padding-left: 0;
      margin-bottom: 30px;
    }
   .nav {
      padding-right: 0;
    }
   .banner-title h4 {
      font-size: 2.5em;
    }
   .banner-subtitle {
      width: 75%;
      margin: 30px auto;
      display: block;
    }
   .about-us-container {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
   .about-us-image {
      padding-left: 0;
      width: 50%;
      margin-bottom: 50px;
    }
   .about-us-description {
      width: 50%;
    }
   .feature-container {
      flex-direction: column-reverse;
    }
   .feature-description {
      width: 90%;
      margin-top: 50px;
    }
   .feature-image {
      width: 90%;
    }
   .feature-btn {
      display: none;
    }
    .facts {
      margin-left: 30px;
    }
    .facts-subtitle {
      width: 90%;
    }
    .fact-container {
      grid-template-columns: repeat(2, 1fr);
      margin: 50px 80px;
    }
   .sponsor-subtitle {
      width: 90%;
    }
    .sponsor-container {
      grid-template-columns: repeat(2, 1fr);
      row-gap: 25px;
    }
   .contact-title,
    .contact-description,
    .media-icons {
      text-align: center;
    }
    .contact-container {
      flex-direction: column;
    }
    footer {
      width: 80%;
      margin-top: 50px;
      margin-bottom: 20px;
    }
 }